.btn {
  font-size: 2.0rem;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px;
  margin: auto;
  border: 1px solid black;
  border-radius: 10px;
  background-color: dodgerblue;
}
